@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.yoki {
  border: 1px solid red;
}

a:not(:hover) {
  text-decoration: none;
}

img {
  display: block;
  border-radius: 10px;
}

nav {
  display: flex;
  align-items: center;
}

/*Popup box css*/
/* .create-post {
  border: 2px solid red;
  position: relative;
}

.popup {
  border: 2px solid red;
  position: absolute;
  bottom: 0;
  right: 30%;
} */

/* footer {
  border: 2px solid red;
} */
